aside { padding: 15px; color: $offwhite; font-family: $font; font-size:20px;  @include position(absolute,0,0);

  .intro-box { margin-bottom: 1.5em; }
  
  .current-hour {
    .number { font-size:300%; font-weight: $bold; }
  }
  
  
  figure.logo { @include position(absolute,null,0,0); max-width:320px;
    img { width:100%; }
  }
  
  .reader-box { margin-bottom: 1.5em;
    .label { margin-bottom: 0.4em; }
    ul { padding-left: 1.5em; }
    li { list-style: none; font-weight: $bold; line-height: 100%; margin-bottom: 0.75em; }
  }
  .artist-box {
    .name { padding-left: 1.5em; font-weight: $bold; }
  }
  
}

.single-screen {
  aside { bottom: 0; width:320px; }
}

.double-screen {
  aside { width:450px; bottom: 21.6vw; }
  figure.logo { width: 120px; }
}