footer { @include flex-container(); color:$offwhite; font-family: $font; font-weight: $light; font-size:18px; padding-top: 12px; padding-left: 40px;
  
  
  
  //.box { }
  
  .box { padding-right: 20px; }
  
  
  .hour-box { 
    .label { padding-right: 20px;}
    .number { font-weight: $bold; line-height: 80%; }
  }
  
  .topic-box { 
    .label { font-weight: 200; }
    .topic { margin-bottom: 10px; }
    .title { font-weight: $bold; font-size:160%; line-height: 90%; }
    .name { font-weight: $bold; font-size:130%; line-height: 90%; }
    .readers { margin-top: 0.75em; }
    .reader-list {
      span { display: inline-block; margin-right: 0.5em; font-weight: $bold;
        &:after { content: ', ' }
        &:nth-last-child(2):after { content: ''; }
        &:last-child:before { content: ' & '; }
        &:last-child:after { content: ''; }
      }
    }
  }
  
  .total-box {
    .number { font-size:225%; }
    .sub { font-size:80%; }
  }
  
  .cta-box {
    .url { font-weight: $bold; color:$red; font-size:225%; }
  }
  
}


.single-screen {
  //footer { padding-right: 320px; }
  .hour-box { @include flex-item(170px);
    .number { font-size:500%; }
  }
  .topic-box, .total-box, .cta-box { @include flex-item(25%);  }
}

.double-screen { 
  footer { padding-right: 50vw; width:100%; padding-right: 250px; }
  .hour-box, .topic-box { margin-bottom: 20px; }
  .hour-box { @include flex-item(170px);
    .number { font-size:320%;  }
  }
  
  .topic-box { @include flex-container(); @include flex-item(calc(100% - 170px));
    .topic, .provider { @include flex-item(50%); padding-right: 20px; }
  }
  .total-box, .cta-box { @include flex-item(50%);  }
}

.layout.break {
  footer { padding-top: 35px;
      .hour-box { @include flex-item(140px,0,1);
      .number { font-size:500%; }
    }
    .topic-box, .desc-box { @include flex-item(25%);  }
    .cta-box, .total-box { @include flex-item(15%); }
  }
}