$tWidth: 55px;
$tRadius:25px;
$tBG: rgba(0,0,0,0.7);

.goal {
  .thermometer { @include position(absolute,40px,null,50px,40px); z-index: $z-goal; width:$tWidth; background:$tBG; border-radius: 25px; box-shadow: 6px 6px 6px rgba(0,0,0,0.5); }
  .inside { @include position(absolute,null,0,0,0); background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%); border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; }
  .label { color:$black; text-shadow: 1px 1px 1px $white; text-align: center; display: none; }
  
  .message-box { @include position(absolute,60px,null,null,100px); z-index: $z-goal-box; background: $tBG; color:$white; padding: 1em; max-width: 18em;
    .number { font-size:300%; font-weight: $bold; color:gold; }
  }
  
}