@keyframes bounce { 
  30%, 70% { transform: translateY(0);}
  50% {transform: translateY(-5px);}
}

@keyframes zoomBounce { 
  40%, 60% { transform: scale(1);}
  50% {transform: scale(1.1);}
}


.prize { @include position(absolute,40px,40px); z-index: $z-prize;
  .prize-box { background:$white; color:$black; padding:1em; box-shadow: -6px 6px 6px rgba(0,0,0,0.5); text-align: center; max-width: 24em; }
  .text { font-weight: $bold; margin-bottom: 1em; margin-top: 0.7em;
    &.available { font-size:130%; }
  }
  
  .amount {
    .donate { transform: translateY(-1.2em); display: inline-block; margin-right: 0.3em; }
    .number { font-size: 330%; font-weight: $bold; color:$green; animation: zoomBounce 3s infinite alternate; display: inline-block; }
  }

  figure { margin-bottom: 1rem; }
  
  .prize-claimed { font-size:225%; color:$red; font-weight: $bold; text-shadow: 2px 2px 0 rgba($black,0.8); text-transform: uppercase; animation: bounce 1s infinite alternate; }
  .claimed-by {
    .claim-name { font-weight: $bold; font-size:120%; }
  }
}