

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

@keyframes two {
  from { transform: translateY(166px) scale(0.2); }
  to { transform: translateY(0); }
}

.relative-worth { position: absolute; left:0; bottom:3rem; right:0;
  .notice { width: 100%; max-width: 960px; margin-left: auto; margin-right: auto; background:white; padding:1rem; display:grid; grid-template-columns: 120px 1fr; gap:20px; border:2px solid rgba(0,0,0,0.2); border-radius: 5rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    img { border-radius: 50%; }
    .text-wrapper { display:flex; align-items: center;
      .text { font-size:2rem; line-height: 140%; padding-right:1em; }
    }

    transition: transform 0.5s linear, opacity 0.2s linear;
    opacity:0.2;
    transform: translateY(170px) scale(0.2);
    &.visible {
      opacity: 1;
      transform: translateY(0) scale(1); transition-duration: 1s, 0.2s; transition-timing-function: cubic-bezier(.5,0,.56,1.95), linear; transition-delay: 0, 0.25s;

    }
    
  }

}