<!DOCTYPE html>
<html lang="en">
  <head>
    <title>We're On Break</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700">
    <link rel="stylesheet" href="css/garbage.css">
  </head>
  <body>
    <div id="app">
      <div class="layout break">
        <main>
          <div class="break-screen">
            <figure v-if="breakPic" v-bind:style="breakBackground"></figure>
            <div class="break-text" v-if="breakText" v-html="breakText"></div>
          </div>
        </main>
        <footer v-cloak v-bind:class="{ break: onBreak }">
          <div class="box hour-box" v-if="hour">
            <div class="label" v-if="onBreak">Next Hour:</div>
            <div class="label" v-else>This is hour</div>
            <div class="number-holder"><span class="number">{{hour}}</span><span class="total">/ 24</span></div>
          </div>
          <div class="topic-box box">
            <div class="topic" v-if="title">
              <div class="label" v-if="onBreak">Up Next</div>
              <div class="label" v-else>Currently reading</div>
              <div class="title">{{title}}</div>
            </div>
            <div class="provider" v-if="provider &amp;&amp; !onBreak">
              <div class="label">Provided by</div>
              <div class="name">{{provider}}</div>
            </div>
            <div class="readers with" v-if="onBreak">
              <div class="label">with</div>
              <div class="reader-list"><span v-for="reader in readers">{{reader}}</span></div>
              <div class="artist" v-if="artist"><span>Your artist: <b>{{artist}}</b></span></div>
            </div>
          </div>
          <div class="desc-box box" v-if="onBreak">
            <div class="text" v-html="introText"></div>
          </div>
          <div class="total-box box" v-if="totalDonations">
            <div class="label">Money Raised</div>
            <div class="number">{{dollarAmount(totalDonations)}}</div>
            <div class="sub">Money goes to the <b>Southern Poverty Law Center</b></div>
          </div>
          <div class="cta-box box">
            <div class="label">Donate now at</div><a class="url">{{donateURL}}</a>
          </div>
        </footer>
      </div>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.full.js"></script>
      <script src="js/min/garbage.break.min.js"></script>
      <script src="js/boots.js"></script>
    </div>
  </body>
</html>