
<div class="battle-screen" v-show="battle.active">
  <div class="battle" v-bind:style="weighBattle">
    <div class="left side">
      <div class="keyword">{{battle.option1keyword}}</div>
      <div class="total">{{dollarAmount(battle.option1total)}}</div>
      <div class="desc">{{battle.option1title}}</div>
    </div>
    <div class="vs"><span>vs</span></div>
    <div class="right side">
      <div class="keyword">{{battle.option2keyword}}</div>
      <div class="total">{{dollarAmount(battle.option2total)}}</div>
      <div class="desc">{{battle.option2title}}</div>
    </div>
  </div>
</div>