link(rel="import" href="../../../bower_components/polymer/polymer-element.html")
link(rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import" href="../../../bower_components/iron-list/iron-list.html")
link(rel="import" href="../../../bower_components/paper-button/paper-button.html")

dom-module#gd-donations
  template
    style
      include gd-donations.css

    table.donation-table

      thead
        tr
          th Time
          th Name
          th Amount
          th Message

      tbody
        template(is="dom-repeat" items="{{donationList}}")
          tr.row
            td.timestamp {{item.datetime}}
            td.displayname {{item.name}}
            td.amount {{item.formatAmount}}
            td.message {{item.comment}}
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
  script(src="gd-donations.js")