table {
  border-collapse: collapse;
  margin: 20px;
}
table th {
  color: #111;
  font-size: 85%;
  text-align: left;
  padding: 0 10px;
  text-transform: uppercase;
}
table .row td {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  vertical-align: top;
  color: #111;
}
table .row .displayname {
  font-weight: bold;
  word-break: break-word;
}
table .row .amount {
  font-size: 120%;
  word-break: break-word;
}
table .row .message {
  font-size: 85%;
}
table .row:nth-child(even) {
  background: rgba(0, 0, 0, 0.02);
}