- var testing = true
- var onBreak = true
doctype html
html(lang="en")
  head
    title We're On Break
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700")
    link(rel="stylesheet" href="css/garbage.css")
  body
    #app
      .layout.break
        include partials/_break.pug
        include partials/_footer.pug
    
    include partials/_javascripts.pug