- var testing = true
- var onBreak = false
doctype html
html(lang="en")
  head
    title Gaaaaaaaaaarbage Day!
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700")
    link(rel="stylesheet" href="css/garbage.css")
  body
    #app
      .layout(v-cloak v-bind:class="countScreens")
        include partials/_main.pug
        include partials/_aside.pug
        include partials/_footer.pug
    
    include partials/_javascripts.pug