* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

html, body {
  background: #131313; }

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .layout main {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .layout footer {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto; }

.single-screen {
  padding-right: 320px; }

.double-screen {
  padding-right: 450px; }
  .double-screen .primary-screen iframe, .double-screen .primary-screen video {
    height: 42vw; }
  .double-screen .secondary-screen {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 38%; }
    .double-screen .secondary-screen iframe, .double-screen .secondary-screen video {
      height: 21.5vw; }

main {
  font-family: "Bitter", serif;
  position: relative; }
  main img {
    max-width: 100%; }
  main iframe, main video {
    width: 100%;
    height: 46.5vw; }

aside {
  padding: 15px;
  color: #f0f1f2;
  font-family: "Bitter", serif;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0; }
  aside .intro-box {
    margin-bottom: 1.5em; }
  aside .current-hour .number {
    font-size: 300%;
    font-weight: 600; }
  aside figure.logo {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 320px; }
    aside figure.logo img {
      width: 100%; }
  aside .reader-box {
    margin-bottom: 1.5em; }
    aside .reader-box ul {
      padding-left: 1.5em; }
    aside .reader-box li {
      list-style: none;
      font-weight: 600;
      line-height: 100%;
      margin-bottom: 0.75em; }
  aside .artist-box .name {
    padding-left: 1.5em;
    font-weight: 600; }

.single-screen aside {
  bottom: 0;
  width: 320px; }

.double-screen aside {
  width: 450px;
  bottom: 21.6vw; }

.double-screen figure.logo {
  width: 120px; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #f0f1f2;
  font-family: "Bitter", serif;
  font-weight: 300;
  font-size: 18px;
  padding-top: 12px;
  padding-left: 40px; }
  footer .box {
    padding-right: 20px; }
  footer .hour-box .label {
    padding-right: 20px; }
  footer .hour-box .number {
    font-weight: 600;
    line-height: 80%; }
  footer .topic-box .label {
    font-weight: 200; }
  footer .topic-box .topic {
    margin-bottom: 10px; }
  footer .topic-box .title {
    font-weight: 600;
    font-size: 160%;
    line-height: 90%; }
  footer .topic-box .name {
    font-weight: 600;
    font-size: 130%;
    line-height: 90%; }
  footer .total-box .number {
    font-size: 225%; }
  footer .total-box .sub {
    font-size: 80%; }
  footer .cta-box .url {
    font-weight: 600;
    color: #ee2a2a;
    font-size: 225%; }

.single-screen .hour-box {
  -ms-flex-preferred-size: 170px;
  flex-basis: 170px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  align-self: auto; }
  .single-screen .hour-box .number {
    font-size: 500%; }

.single-screen .topic-box, .single-screen .total-box, .single-screen .cta-box {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  align-self: auto; }

.double-screen footer {
  padding-right: 50vw;
  width: 100%;
  padding-right: 250px; }

.double-screen .hour-box, .double-screen .topic-box {
  margin-bottom: 20px; }

.double-screen .hour-box {
  -ms-flex-preferred-size: 170px;
  flex-basis: 170px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  align-self: auto; }
  .double-screen .hour-box .number {
    font-size: 320%; }

.double-screen .topic-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .double-screen .topic-box .topic, .double-screen .topic-box .provider {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-right: 20px; }

.double-screen .topic-box, .double-screen .total-box, .double-screen .cta-box {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  align-self: auto; }

.battle-screen {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 32em; }
  .battle-screen .battle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-transition: -webkit-transform 2s linear;
    transition: -webkit-transform 2s linear;
    -o-transition: transform 2s linear;
    transition: transform 2s linear;
    transition: transform 2s linear, -webkit-transform 2s linear; }
  .battle-screen .side {
    color: #eee;
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 15px;
    border: 2px solid #131313; }
    .battle-screen .side.left {
      background: #0e3d8e;
      text-align: right; }
    .battle-screen .side.right {
      background: #a50d0d; }
  .battle-screen .vs {
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
    text-align: center;
    padding-top: 3.6em; }
    .battle-screen .vs span {
      font-size: 160%;
      line-height: 165%;
      border-radius: 50%;
      background: #eee;
      width: 1.8em;
      height: 1.8em;
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
      transform: scale(1.6);
      border: 2px solid #131313; }
  .battle-screen .keyword {
    font-size: 200%; }
  .battle-screen .total {
    font-size: 300%;
    font-weight: 600; }
  .battle-screen .desc {
    font-size: 80%; }
