* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

[v-cloak] {
  display: none !important; }

p {
  margin-bottom: 1em; }

html, body {
  background: #131313; }

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .layout main {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto; }
  .layout footer {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto; }

.single-screen {
  padding-right: 320px; }

.double-screen {
  padding-right: 450px; }
  .double-screen iframe, .double-screen video {
    -webkit-transition: -webkit-transform 5s ease;
    transition: -webkit-transform 5s ease;
    -o-transition: transform 5s ease;
    transition: transform 5s ease;
    transition: transform 5s ease, -webkit-transform 5s ease; }
  .double-screen .primary-screen iframe, .double-screen .primary-screen video {
    height: 42vw; }
  .double-screen .primary-screen.swapped iframe, .double-screen .primary-screen.swapped video {
    -webkit-transform: translate(800px, 400px) scale(0.5);
    -ms-transform: translate(800px, 400px) scale(0.5);
    transform: translate(800px, 400px) scale(0.5); }
  .double-screen .secondary-screen {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 38%; }
    .double-screen .secondary-screen iframe, .double-screen .secondary-screen video {
      height: 21.5vw; }
    .double-screen .secondary-screen.swapped iframe, .double-screen .secondary-screen.swapped video {
      -webkit-transform: translate(-800px, -400px) scale(2);
      -ms-transform: translate(-800px, -400px) scale(2);
      transform: translate(-800px, -400px) scale(2); }

main {
  font-family: "Bitter", serif;
  position: relative; }
  main img {
    max-width: 100%; }
  main iframe, main video {
    width: 100%;
    height: 46.5vw; }

aside {
  padding: 15px;
  color: #f0f1f2;
  font-family: "Bitter", serif;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0; }
  aside .intro-box {
    margin-bottom: 1.5em; }
  aside .current-hour .number {
    font-size: 300%;
    font-weight: 600; }
  aside figure.logo {
    width: 100%; }
    aside figure.logo img {
      width: 100%; }
  aside .reader-box {
    margin-bottom: 1.5em; }
    aside .reader-box .label {
      margin-bottom: 0.4em; }
    aside .reader-box ul {
      padding-left: 1.5em; }
    aside .reader-box li {
      list-style: none;
      font-weight: 600;
      line-height: 100%;
      margin-bottom: 0.75em; }
  aside .artist-box .name {
    padding-left: 1.5em;
    font-weight: 600; }

.single-screen aside {
  bottom: 0;
  width: 320px; }
  .single-screen aside figure.logo {
    position: fixed;
    right: 60px;
    bottom: -70px;
    width: 320px; }

.double-screen aside {
  width: 450px;
  bottom: 21.6vw; }

.double-screen figure.logo {
  height: 260px;
  position: absolute;
  bottom: 0;
  right: 0; }
  .double-screen figure.logo svg {
    display: block;
    width: 200px;
    margin-left: auto; }

@-webkit-keyframes dollarbounce {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  70% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  90% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

@keyframes dollarbounce {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  70% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  90% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #f0f1f2;
  font-family: "Bitter", serif;
  font-weight: 300;
  font-size: 18px;
  padding-top: 12px;
  padding-left: 40px; }
  footer .box {
    padding-right: 20px; }
  footer .hour-box .label {
    padding-right: 20px; }
  footer .hour-box .number {
    font-weight: 600;
    line-height: 80%; }
  footer .topic-box .label {
    font-weight: 200; }
  footer .topic-box .topic {
    margin-bottom: 10px; }
  footer .topic-box .title {
    font-weight: 600;
    font-size: 160%;
    line-height: 90%; }
  footer .topic-box .name {
    font-weight: 600;
    font-size: 130%;
    line-height: 90%; }
  footer .topic-box .readers {
    margin-top: 0.75em; }
  footer .topic-box .reader-list span {
    display: inline-block;
    margin-right: 0.5em;
    font-weight: 600; }
    footer .topic-box .reader-list span:after {
      content: ', '; }
    footer .topic-box .reader-list span:nth-last-child(2):after {
      content: ''; }
    footer .topic-box .reader-list span:last-child:before {
      content: ' & '; }
    footer .topic-box .reader-list span:last-child:after {
      content: ''; }
  footer .total-box .number {
    font-size: 225%; }
    footer .total-box .number.hanson-active {
      color: lime;
      font-weight: bold;
      -webkit-animation: dollarbounce 0.55s infinite ease;
      animation: dollarbounce 0.55s infinite ease; }
  footer .total-box .sub {
    font-size: 80%; }
  footer .cta-box .url {
    font-weight: 600;
    color: #ee2a2a;
    font-size: 225%; }

.single-screen .hour-box {
  -ms-flex-preferred-size: 170px;
  flex-basis: 170px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto; }
  .single-screen .hour-box .number {
    font-size: 500%; }

.single-screen .topic-box, .single-screen .total-box, .single-screen .cta-box {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto; }

.double-screen footer {
  padding-right: 50vw;
  width: 100%;
  padding-right: 250px; }

.double-screen .hour-box, .double-screen .topic-box {
  margin-bottom: 20px; }

.double-screen .hour-box {
  -ms-flex-preferred-size: 170px;
  flex-basis: 170px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto; }
  .double-screen .hour-box .number {
    font-size: 320%; }

.double-screen .topic-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-preferred-size: calc(100% - 170px);
  flex-basis: calc(100% - 170px);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  align-self: auto; }
  .double-screen .topic-box .topic, .double-screen .topic-box .provider {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    padding-right: 20px; }

.double-screen .total-box, .double-screen .cta-box {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto; }

.layout.break footer {
  padding-top: 35px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: #131313;
  padding-bottom: 35px; }
  .layout.break footer .hour-box {
    width: 170px;
    -ms-flex-preferred-size: 170px;
    flex-basis: 170px;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto; }
    .layout.break footer .hour-box .number {
      font-size: 500%; }
  .layout.break footer .topic-box, .layout.break footer .desc-box {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto; }
  .layout.break footer .cta-box, .layout.break footer .total-box {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto; }

@-webkit-keyframes hueRotate {
  0% {
    -webkit-filter: hue-rotate(0);
    filter: hue-rotate(0); }
  25% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg); }
  50% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg); }
  75% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg); }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg); } }

@keyframes hueRotate {
  0% {
    -webkit-filter: hue-rotate(0);
    filter: hue-rotate(0); }
  25% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg); }
  50% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg); }
  75% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg); }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg); } }

@-webkit-keyframes jogging {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  70% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%); }
  90% {
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%); } }

@keyframes jogging {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  70% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%); }
  90% {
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%); } }

@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); } }

@keyframes throb {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes storm {
  0% {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3); }
  45% {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3); }
  47% {
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3); }
  50% {
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  53% {
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3); }
  56% {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3); }
  100% {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3); } }

@keyframes storm {
  0% {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3); }
  45% {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3); }
  47% {
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3); }
  50% {
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  53% {
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3); }
  56% {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3); }
  100% {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3); } }

@-webkit-keyframes cataracts {
  0% {
    -webkit-filter: blur(3px);
    filter: blur(3px); }
  40% {
    -webkit-filter: blur(6px);
    filter: blur(6px); }
  60% {
    -webkit-filter: blur(1px);
    filter: blur(1px); }
  80% {
    -webkit-filter: blur(0);
    filter: blur(0); }
  100% {
    -webkit-filter: blur(3px);
    filter: blur(3px); } }

@keyframes cataracts {
  0% {
    -webkit-filter: blur(3px);
    filter: blur(3px); }
  40% {
    -webkit-filter: blur(6px);
    filter: blur(6px); }
  60% {
    -webkit-filter: blur(1px);
    filter: blur(1px); }
  80% {
    -webkit-filter: blur(0);
    filter: blur(0); }
  100% {
    -webkit-filter: blur(3px);
    filter: blur(3px); } }

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(1%, -1%);
    transform: translate(1%, -1%); }
  40% {
    -webkit-transform: translate(1%, 1%);
    transform: translate(1%, 1%); }
  60% {
    -webkit-transform: translate(-1%, 1%);
    transform: translate(-1%, 1%); }
  80% {
    -webkit-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(1%, -1%);
    transform: translate(1%, -1%); }
  40% {
    -webkit-transform: translate(1%, 1%);
    transform: translate(1%, 1%); }
  60% {
    -webkit-transform: translate(-1%, 1%);
    transform: translate(-1%, 1%); }
  80% {
    -webkit-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes rave1 {
  0% {
    fill: #ff0000; }
  16% {
    fill: #00ff00; }
  33% {
    fill: #0000ff; }
  50% {
    fill: #ffff00; }
  65% {
    fill: #ff00ff; }
  81% {
    fill: #00ffff; }
  100% {
    fill: #ff0000; } }

@keyframes rave1 {
  0% {
    fill: #ff0000; }
  16% {
    fill: #00ff00; }
  33% {
    fill: #0000ff; }
  50% {
    fill: #ffff00; }
  65% {
    fill: #ff00ff; }
  81% {
    fill: #00ffff; }
  100% {
    fill: #ff0000; } }

@-webkit-keyframes rave2 {
  0% {
    fill: #ffff00; }
  16% {
    fill: #ff00ff; }
  33% {
    fill: #00ffff; }
  50% {
    fill: #ff0000; }
  65% {
    fill: #00ff00; }
  81% {
    fill: #0000ff; }
  100% {
    fill: #ffff00; } }

@keyframes rave2 {
  0% {
    fill: #ffff00; }
  16% {
    fill: #ff00ff; }
  33% {
    fill: #00ffff; }
  50% {
    fill: #ff0000; }
  65% {
    fill: #00ff00; }
  81% {
    fill: #0000ff; }
  100% {
    fill: #ffff00; } }

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@-webkit-keyframes sparkle {
  0% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  31% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  33% {
    -webkit-filter: contrast(2);
    filter: contrast(2); }
  35% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  60% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  66% {
    -webkit-filter: contrast(3);
    filter: contrast(3); }
  70% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  100% {
    -webkit-filter: contrast(1);
    filter: contrast(1); } }

@keyframes sparkle {
  0% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  31% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  33% {
    -webkit-filter: contrast(2);
    filter: contrast(2); }
  35% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  60% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  66% {
    -webkit-filter: contrast(3);
    filter: contrast(3); }
  70% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  100% {
    -webkit-filter: contrast(1);
    filter: contrast(1); } }

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translate(4px, 4px) rotate(0deg);
    transform: translate(4px, 4px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-8px, -8px) rotate(-1deg);
    transform: translate(-8px, -8px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-12px, 0px) rotate(1deg);
    transform: translate(-12px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(12px, 8px) rotate(0deg);
    transform: translate(12px, 8px) rotate(0deg);
    -webkit-filter: blur(3px);
    filter: blur(3px); }
  40% {
    -webkit-transform: translate(4px, -4px) rotate(1deg);
    transform: translate(4px, -4px) rotate(1deg);
    -webkit-filter: blur(1px);
    filter: blur(1px); }
  50% {
    -webkit-transform: translate(-4px, 8px) rotate(-1deg);
    transform: translate(-4px, 8px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-12px, 4px) rotate(0deg);
    transform: translate(-12px, 4px) rotate(0deg); }
  70% {
    -webkit-transform: translate(12px, 4px) rotate(-1deg);
    transform: translate(12px, 4px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-4px, -4px) rotate(1deg);
    transform: translate(-4px, -4px) rotate(1deg); }
  90% {
    -webkit-transform: translate(4px, -8px) rotate(0deg);
    transform: translate(4px, -8px) rotate(0deg); }
  100% {
    -webkit-transform: translate(4px, 4px) rotate(0deg);
    transform: translate(4px, 4px) rotate(0deg); } }

@keyframes wobble {
  0% {
    -webkit-transform: translate(4px, 4px) rotate(0deg);
    transform: translate(4px, 4px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-8px, -8px) rotate(-1deg);
    transform: translate(-8px, -8px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-12px, 0px) rotate(1deg);
    transform: translate(-12px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(12px, 8px) rotate(0deg);
    transform: translate(12px, 8px) rotate(0deg);
    -webkit-filter: blur(3px);
    filter: blur(3px); }
  40% {
    -webkit-transform: translate(4px, -4px) rotate(1deg);
    transform: translate(4px, -4px) rotate(1deg);
    -webkit-filter: blur(1px);
    filter: blur(1px); }
  50% {
    -webkit-transform: translate(-4px, 8px) rotate(-1deg);
    transform: translate(-4px, 8px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-12px, 4px) rotate(0deg);
    transform: translate(-12px, 4px) rotate(0deg); }
  70% {
    -webkit-transform: translate(12px, 4px) rotate(-1deg);
    transform: translate(12px, 4px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-4px, -4px) rotate(1deg);
    transform: translate(-4px, -4px) rotate(1deg); }
  90% {
    -webkit-transform: translate(4px, -8px) rotate(0deg);
    transform: translate(4px, -8px) rotate(0deg); }
  100% {
    -webkit-transform: translate(4px, 4px) rotate(0deg);
    transform: translate(4px, 4px) rotate(0deg); } }

figure.logo {
  width: 32vw; }
  figure.logo .st1 {
    fill: #12847e; }
  figure.logo .st2 {
    fill: #96d2b2; }
  figure.logo .st4 {
    stroke-width: 2; }
  figure.logo .st4, figure.logo .st5 {
    fill: none;
    stroke: #4d2f70;
    stroke-miterlimit: 10; }
  figure.logo .st6 {
    fill: #b56aab; }
  figure.logo .st7 {
    fill: #5e93ce; }
  figure.logo .st8 {
    fill: #d2c1db; }
  figure.logo .st9 {
    fill: #f7f4c5; }
  figure.logo .st10 {
    fill: #7d8ea4; }
  figure.logo .st11 {
    fill: #7a54a0; }
  figure.logo .st12 {
    fill: #edc17a; }
  figure.logo .st13 {
    fill: #dee5e5; }
  figure.logo .st14 {
    fill: #48479c; }
  figure.logo .st15 {
    fill: #7c54a0; }
  figure.logo .st16 {
    fill: #b197c3; }
  figure.logo .st18 {
    fill: #6d7b72; }
  figure.logo .st19 {
    fill: #557bbc; }
  figure.logo .st21 {
    fill: #d1dde2; }
  figure.logo .st22 {
    fill: #c8e8e4; }
  figure.logo .st24, figure.logo .st25, figure.logo .st26, figure.logo .st27 {
    fill: none;
    stroke: #4d2f70;
    stroke-miterlimit: 10; }
  figure.logo .st24 {
    stroke-width: .5; }
  figure.logo .st25, figure.logo .st26, figure.logo .st27 {
    stroke-linejoin: round; }
  figure.logo .st26, figure.logo .st27 {
    stroke-linecap: round; }
  figure.logo .st27 {
    stroke-width: .5; }
  figure.logo .st28 {
    fill: #4d2f70; }
  figure.logo .st29 {
    fill: none;
    stroke: #4d2f70;
    stroke-width: .5;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
  figure.logo .st30 {
    fill: #fff; }
  figure.logo .st31 {
    fill: #9c8bb3; }
  figure.logo .st32 {
    fill: #737898; }
  figure.logo .st33 {
    fill: #b4adc8; }
  figure.logo .st34 {
    fill: #245fa2; }
  figure.logo .st35 {
    fill: #cebbad; }
  figure.logo .st37 {
    fill: #6b698f; }
  figure.logo .st39, figure.logo .st40 {
    fill: none;
    stroke: #4d2f70;
    stroke-width: .5644;
    stroke-miterlimit: 10; }
  figure.logo .st40 {
    stroke-width: 1.5; }
  figure.logo.jogging {
    -webkit-animation: jogging 0.55s infinite ease;
    animation: jogging 0.55s infinite ease; }
  figure.logo.lsd {
    -webkit-animation: hueRotate 3s infinite linear;
    animation: hueRotate 3s infinite linear; }
  figure.logo.throb {
    -webkit-animation: throb 2s infinite linear;
    animation: throb 2s infinite linear; }
  figure.logo.spin {
    -webkit-animation: spin 20s infinite linear;
    animation: spin 20s infinite linear; }
  figure.logo.storm {
    -webkit-animation: storm 3s infinite ease;
    animation: storm 3s infinite ease; }
  figure.logo.cataracts {
    -webkit-animation: cataracts 7s infinite ease;
    animation: cataracts 7s infinite ease; }
  figure.logo.vibrate, figure.logo.stoked {
    -webkit-animation: vibrate 0.3s linear infinite both;
    animation: vibrate 0.3s linear infinite both; }
  figure.logo.rave .racoon-body {
    -webkit-animation: rave1 3.5s infinite linear;
    animation: rave1 3.5s infinite linear; }
  figure.logo.rave .racoon-stripe {
    -webkit-animation: rave1 3.2s infinite linear;
    animation: rave1 3.2s infinite linear; }
  figure.logo.rave .st31, figure.logo.rave .st33, figure.logo.rave .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.drunk {
    -webkit-animation: wobble 14s infinite linear;
    animation: wobble 14s infinite linear; }
  figure.logo.greyscale, figure.logo .grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  figure.logo.sepia {
    -webkit-filter: sepia(1);
    filter: sepia(1); }
  figure.logo.oversaturate {
    -webkit-filter: saturate(4);
    filter: saturate(4); }
  figure.logo.huerotate {
    -webkit-filter: saturate(3) hue-rotate(180deg);
    filter: saturate(3) hue-rotate(180deg); }
  figure.logo.invert {
    -webkit-filter: invert(1);
    filter: invert(1); }
  figure.logo.contrast {
    -webkit-filter: contrast(3);
    filter: contrast(3); }
  figure.logo.dropshadow {
    -webkit-filter: drop-shadow(-16px -16px 10px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(-16px -16px 10px rgba(0, 0, 0, 0.9)); }
  figure.logo.dropshadowhuge {
    -webkit-filter: drop-shadow(-32px -32px 24px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(-32px -32px 24px rgba(0, 0, 0, 0.9)); }
  figure.logo.green .racoon-body {
    fill: #01FF70; }
  figure.logo.green .st31, figure.logo.green .st33, figure.logo.green .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.green .st6 {
    fill: #fe008f; }
  figure.logo.green .racoon-stripe {
    fill: #034420; }
  figure.logo.green .trashbag {
    fill: #992299; }
  figure.logo.green .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.green .trash-highlights *, figure.logo.green .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.yellow .racoon-body {
    fill: #FFDC00; }
  figure.logo.yellow .st31, figure.logo.yellow .st33, figure.logo.yellow .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.yellow .st6 {
    fill: #0023ff; }
  figure.logo.yellow .racoon-stripe {
    fill: #f89f10; }
  figure.logo.yellow .trashbag {
    fill: #5555ff; }
  figure.logo.yellow .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.yellow .trash-highlights *, figure.logo.yellow .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.teal .racoon-body {
    fill: #00ffff; }
  figure.logo.teal .st31, figure.logo.teal .st33, figure.logo.teal .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.teal .st6 {
    fill: red; }
  figure.logo.teal .racoon-stripe {
    fill: #005392; }
  figure.logo.teal .trashbag {
    fill: #bb4444; }
  figure.logo.teal .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.teal .trash-highlights *, figure.logo.teal .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.pink .racoon-body {
    fill: #ff69b4; }
  figure.logo.pink .st31, figure.logo.pink .st33, figure.logo.pink .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.pink .st6 {
    fill: #00964b; }
  figure.logo.pink .racoon-stripe {
    fill: #ffbcfc; }
  figure.logo.pink .trashbag {
    fill: #991199; }
  figure.logo.pink .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.pink .trash-highlights *, figure.logo.pink .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.red .racoon-body {
    fill: #FF4136; }
  figure.logo.red .st31, figure.logo.red .st33, figure.logo.red .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.red .st6 {
    fill: #00bec9; }
  figure.logo.red .racoon-stripe {
    fill: #a50014; }
  figure.logo.red .trashbag {
    fill: #F012BE; }
  figure.logo.red .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.red .trash-highlights *, figure.logo.red .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.orange .racoon-body {
    fill: #FF851B; }
  figure.logo.orange .st31, figure.logo.orange .st33, figure.logo.orange .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.orange .st6 {
    fill: #007ae4; }
  figure.logo.orange .racoon-stripe {
    fill: #fff308; }
  figure.logo.orange .trashbag {
    fill: #aaaaaa; }
  figure.logo.orange .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.orange .trash-highlights *, figure.logo.orange .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.blue .racoon-body {
    fill: #0074D9; }
  figure.logo.blue .st31, figure.logo.blue .st33, figure.logo.blue .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.blue .st6 {
    fill: #ff8b26; }
  figure.logo.blue .racoon-stripe {
    fill: #002fc2; }
  figure.logo.blue .trashbag {
    fill: #85144b; }
  figure.logo.blue .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.blue .trash-highlights *, figure.logo.blue .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.white .racoon-body {
    fill: #ffffff; }
  figure.logo.white .st31, figure.logo.white .st33, figure.logo.white .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.white .st6 {
    fill: black; }
  figure.logo.white .trashbag {
    fill: #444; }
  figure.logo.white .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.white .trash-highlights *, figure.logo.white .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.white .st6 {
    fill: #222; }
  figure.logo.tan .racoon-body {
    fill: #DEB887; }
  figure.logo.tan .st31, figure.logo.tan .st33, figure.logo.tan .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.tan .st6 {
    fill: #214778; }
  figure.logo.tan .racoon-stripe {
    fill: #b68532; }
  figure.logo.tan .trashbag {
    fill: #b43864; }
  figure.logo.tan .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.tan .trash-highlights *, figure.logo.tan .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.purple .racoon-body {
    fill: #9855e0; }
  figure.logo.purple .st31, figure.logo.purple .st33, figure.logo.purple .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.purple .st6 {
    fill: #67aa1f; }
  figure.logo.purple .racoon-stripe {
    fill: #fffb3a; }
  figure.logo.purple .trashbag {
    fill: #82dd61; }
  figure.logo.purple .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.purple .trash-highlights *, figure.logo.purple .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.brown .racoon-body {
    fill: #A0522D; }
  figure.logo.brown .st31, figure.logo.brown .st33, figure.logo.brown .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.brown .st6 {
    fill: #5fadd2; }
  figure.logo.brown .racoon-stripe {
    fill: #751f00; }
  figure.logo.brown .trashbag {
    fill: #FFD700; }
  figure.logo.brown .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.brown .trash-highlights *, figure.logo.brown .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.black .racoon-body {
    fill: #333; }
  figure.logo.black .st31, figure.logo.black .st33, figure.logo.black .st34 {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.black .st6 {
    fill: #cccccc; }
  figure.logo.black .racoon-stripe {
    fill: #666; }
  figure.logo.black .trashbag {
    fill: #eee; }
  figure.logo.black .trash-shade * {
    fill: rgba(0, 0, 0, 0.35); }
  figure.logo.black .trash-highlights *, figure.logo.black .st2 {
    fill: rgba(255, 255, 255, 0.5); }
  figure.logo.no-outlines .albert-linework {
    display: none; }
  figure.logo.no-outlines .trash-lines {
    display: none; }
  figure.logo.no-outlines .trashpopout-lines {
    display: none; }
  figure.logo.no-trash .trash-lines {
    display: none; }
  figure.logo.no-trash .trashpopout-lines {
    display: none; }
  figure.logo.no-trash .trashbag {
    display: none; }
  figure.logo.no-trash .trash-shade {
    display: none; }
  figure.logo.no-trash .trash-highlights {
    display: none; }
  figure.logo.no-trash .trashpopout-flats, figure.logo.no-trash .trashpopout-shade, figure.logo.no-trash .trashpopout-highlights {
    display: none; }
  figure.logo.ghost {
    opacity: 0.5; }

.battle-screen {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 32em;
  z-index: 8; }
  .battle-screen .battle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-transition: -webkit-transform 5s linear;
    transition: -webkit-transform 5s linear;
    -o-transition: transform 5s linear;
    transition: transform 5s linear;
    transition: transform 5s linear, -webkit-transform 5s linear; }
  .battle-screen .side {
    color: #eee;
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    padding: 15px;
    border: 2px solid #131313;
    -webkit-box-shadow: -6px -6px 6px rgba(0, 0, 0, 0.5);
    box-shadow: -6px -6px 6px rgba(0, 0, 0, 0.5); }
    .battle-screen .side.left {
      background: #0e3d8e;
      text-align: right; }
    .battle-screen .side.right {
      background: #a50d0d; }
  .battle-screen .vs {
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    position: relative;
    text-align: center;
    padding-top: 3.6em; }
    .battle-screen .vs span {
      font-size: 160%;
      line-height: 165%;
      border-radius: 50%;
      background: #eee;
      width: 1.8em;
      height: 1.8em;
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
      transform: scale(1.6);
      border: 2px solid #131313; }
  .battle-screen .keyword {
    font-size: 300%;
    font-weight: 600; }
  .battle-screen .total {
    font-size: 240%; }
  .battle-screen .desc {
    font-size: 80%; }

.goal .thermometer {
  position: absolute;
  top: 40px;
  bottom: 50px;
  left: 40px;
  z-index: 6;
  width: 55px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5); }

.goal .inside {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-repeating-linear-gradient(left, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-image: -o-repeating-linear-gradient(left, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.goal .label {
  color: #131313;
  text-shadow: 1px 1px 1px #eee;
  text-align: center;
  display: none; }

.goal .message-box {
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 7;
  background: rgba(0, 0, 0, 0.7);
  color: #eee;
  padding: 1em;
  max-width: 18em; }
  .goal .message-box .number {
    font-size: 300%;
    font-weight: 600;
    color: gold; }

@-webkit-keyframes bounce {
  30%, 70% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes bounce {
  30%, 70% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-webkit-keyframes zoomBounce {
  40%, 60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes zoomBounce {
  40%, 60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

.prize {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 4; }
  .prize .prize-box {
    background: #eee;
    color: #131313;
    padding: 1em;
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.5);
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 24em; }
  .prize .text {
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 0.7em; }
    .prize .text.available {
      font-size: 130%; }
  .prize .amount .donate {
    -webkit-transform: translateY(-1.2em);
    -ms-transform: translateY(-1.2em);
    transform: translateY(-1.2em);
    display: inline-block;
    margin-right: 0.3em; }
  .prize .amount .number {
    font-size: 330%;
    font-weight: 600;
    color: #17680f;
    -webkit-animation: zoomBounce 3s infinite alternate;
    animation: zoomBounce 3s infinite alternate;
    display: inline-block; }
  .prize .prize-claimed {
    font-size: 225%;
    color: #ee2a2a;
    font-weight: 600;
    text-shadow: 2px 2px 0 rgba(19, 19, 19, 0.8);
    text-transform: uppercase;
    -webkit-animation: bounce 1s infinite alternate;
    animation: bounce 1s infinite alternate; }
  .prize .claimed-by .claim-name {
    font-weight: 600;
    font-size: 120%; }

.freewrite .freewrite-box {
  position: absolute;
  z-index: 3; }

.freewrite .inside {
  background-color: #eee;
  color: #131313;
  max-width: 40%;
  padding: 20px; }

.freewrite .content {
  line-height: 140%; }

.freewrite-box.center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .freewrite-box.center .inside {
    max-width: 65%;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.65); }

.freewrite-box.top {
  top: 40px;
  left: 40px;
  right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px; }
  .freewrite-box.top .inside {
    -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.5); }

.freewrite-box.right {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px; }
  .freewrite-box.right .inside {
    -webkit-box-shadow: -6px 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: -6px 0 0 rgba(0, 0, 0, 0.5);
    margin-left: auto; }

.freewrite-box.bottom {
  bottom: 40px;
  left: 40px;
  right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px; }
  .freewrite-box.bottom .inside {
    -webkit-box-shadow: 0 -6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 -6px 0 rgba(0, 0, 0, 0.5); }

.freewrite-box.left {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px; }
  .freewrite-box.left .inside {
    -webkit-box-shadow: 6px 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 6px 0 0 rgba(0, 0, 0, 0.5);
    margin-right: auto; }

.freewrite-box.top-left, .freewrite-box.top-right, .freewrite-box.bottom-left, .freewrite-box.bottom-right {
  width: 100%; }

.freewrite-box.top-left {
  top: 40px;
  left: 40px; }
  .freewrite-box.top-left .inside {
    -webkit-box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5); }

.freewrite-box.top-right {
  top: 40px;
  right: 40px; }
  .freewrite-box.top-right .inside {
    -webkit-box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
    margin-left: auto; }

.freewrite-box.bottom-right {
  bottom: 40px;
  right: 40px;
  padding-top: 20px; }
  .freewrite-box.bottom-right .inside {
    -webkit-box-shadow: -6px -6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: -6px -6px 0 rgba(0, 0, 0, 0.5);
    margin-left: auto; }

.freewrite-box.bottom-left {
  bottom: 40px;
  left: 40px; }
  .freewrite-box.bottom-left .inside {
    -webkit-box-shadow: 6px -6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 6px -6px 0 rgba(0, 0, 0, 0.5); }

.hanson-wrapper {
  z-index: 9; }
  .hanson-wrapper video {
    width: 640px;
    height: 480px; }

.single-screen .hanson-wrapper {
  position: absolute;
  right: 390px;
  bottom: 0; }

.double-screen .hanson-wrapper {
  position: absolute;
  bottom: 0;
  left: 0; }

.break-screen {
  width: 100%;
  height: 45vw;
  position: relative; }
  .break-screen figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center; }
  .break-screen .break-text {
    position: absolute;
    top: 9vh;
    right: 3vw;
    z-index: 4;
    color: #ee2a2a;
    font-size: 4vw;
    mix-blend-mode: difference; }

/*# sourceMappingURL=garbage.css.map */