aside
  
  .intro-box(v-if="introText")
    .text(v-html="introText")
    
  .reader-box
    .label Your friends for the hour:
    ul(v-for="reader in readers")
      li.reader(v-if="reader" v-text="reader")
  
  .artist-box(v-if="artist")
    .label(@click="smokeWeed()") Your artist:
    .name(@click="haveASixtyNine()") {{artist}}
  
  figure.logo(v-bind:class="albertClass")

    figure.aibert(v-if="albertClass.includes('aibert')")
      img.pic(src="img/aibert/01.png" v-if="albertClass == 'aibert-1'" )
      img.pic(src="img/aibert/02.png" v-else-if="albertClass == 'aibert-2'" )
      img.pic(src="img/aibert/03.png" v-else-if="albertClass == 'aibert-3'" )
      img.pic(src="img/aibert/04.png" v-else-if="albertClass == 'aibert-4'" )
      img.pic(src="img/aibert/05.png" v-else-if="albertClass == 'aibert-5'" )
      img.pic(src="img/aibert/06.png" v-else-if="albertClass == 'aibert-6'" )
      img.pic(src="img/aibert/07.png" v-else-if="albertClass == 'aibert-7'" )
      img.pic(src="img/aibert/08.png" v-else-if="albertClass == 'aibert-8'" )
      img.pic(src="img/aibert/09.png" v-else-if="albertClass == 'aibert-9'" )
      img.pic(src="img/aibert/10.png" v-else-if="albertClass == 'aibert-10'" )
      img.pic(src="img/aibert/11.png" v-else-if="albertClass == 'aibert-11'" )
      img.pic(src="img/aibert/12.png" v-else-if="albertClass == 'aibert-12'" )
      img.pic(src="img/aibert/13.png" v-else-if="albertClass == 'aibert-13'" )
      img.pic(src="img/aibert/14.png" v-else-if="albertClass == 'aibert-14'" )
      img.pic(src="img/aibert/15.png" v-else-if="albertClass == 'aibert-15'" )
      img.pic(src="img/aibert/16.png" v-else-if="albertClass == 'aibert-16'" )
      img.pic(src="img/aibert/17.png" v-else-if="albertClass == 'aibert-17'" )
      img.pic(src="img/aibert/18.png" v-else-if="albertClass == 'aibert-18'" )
      img.pic(src="img/aibert/19.png" v-else-if="albertClass == 'aibert-19'" )
      img.pic(src="img/aibert/20.png" v-else-if="albertClass == 'aibert-20'" )
    
    figure.portaxx(v-if="albertClass == 'portaxx'")
      img.pic(src="img/aibert/portaxx.png")

    figure.respect(v-if="albertClass == 'queen'")
      img.queen(src="img/queen-head.png")
    .censored-bar.lower(v-if="albertClass == 'censored'")
      span CENSORED
    .censored-bar.upper(v-if="albertClass == 'censored'")
      span TOO HOT FOR TWITCH
    include albert2.html
    