aside
  
  .intro-box(v-if="introText")
    .text(v-html="introText")
    
  .reader-box
    .label Your friends for the hour:
    ul(v-for="reader in readers")
      li.reader(v-if="reader" v-text="reader")
  
  .artist-box(v-if="artist")
    .label Your artist:
    .name {{artist}}
  
  figure.logo(v-bind:class="albertClass" @click="findComparativeItem")

    figure.aibert(v-if="albertClass.includes('aibert')")
      img.pic(src="img/aibert/01.png" v-if="albertClass == 'aibert-1'" )
      img.pic(src="img/aibert/02.png" v-else-if="albertClass == 'aibert-2'" )
      img.pic(src="img/aibert/03.png" v-else-if="albertClass == 'aibert-3'" )
      img.pic(src="img/aibert/04.png" v-else-if="albertClass == 'aibert-4'" )
      img.pic(src="img/aibert/05.png" v-else-if="albertClass == 'aibert-5'" )
      img.pic(src="img/aibert/06.png" v-else-if="albertClass == 'aibert-6'" )
      img.pic(src="img/aibert/07.png" v-else-if="albertClass == 'aibert-7'" )
      img.pic(src="img/aibert/08.png" v-else-if="albertClass == 'aibert-8'" )
    
    figure.portaxx(v-if="albertClass == 'portaxx'")
      img.pic(src="img/aibert/portaxx.png")

    figure.respect(v-if="albertClass == 'queen'")
      img.queen(src="img/queen-head.png")
    .censored-bar.lower(v-if="albertClass == 'censored'")
      span CENSORED
    .censored-bar.upper(v-if="albertClass == 'censored'")
      span TOO HOT FOR TWITCH
    include albert2.html
    