.battle-screen(v-show="battle.active")
  .battle(v-bind:style="weighBattle")
    .left.side
      //.keyword {{battle.option1keyword}}
      .total {{dollarAmount(battle.option1total)}}
      .desc {{battle.option1title}}
    .vs
      span vs
    .right.side
      .keyword {{battle.option2keyword}}
      .total {{dollarAmount(battle.option2total)}}
      .desc {{battle.option2title}}