.freewrite(v-if="freewrite.active")
  .freewrite-box(v-bind:class="freewrite.location")
    .inside
      figure(v-if="freewrite.img")
        img(:src="freewrite.img")
      .content(v-if="freewrite.content" v-html="freewrite.content")