main 
  figure.primary-screen(v-if="primaryScreen")
    iframe(:src="primaryStream.url" frameborder="0" allowfullscreen="false" scrolling="no")
  figure.secondary-screen(v-if="secondaryScreen")
    iframe(:src="secondaryStream.url" frameborder="0" allowfullscreen="false" scrolling="no")