main

  figure.primary-screen(v-if="primaryScreen" v-bind:class="{ swapped: swapStreams }")
    video(controls="false" muted="true" autoplay="true" v-if="primaryScreenRawVideo")
      source(:src="primaryStream.url" )
    iframe(:src="primaryStream.url" frameborder="0" allowfullscreen="false" scrolling="no" v-else)
  figure.secondary-screen(v-if="secondaryScreen"  v-bind:class="{ swapped: swapStreams }")
    video(controls="false" muted="true" autoplay="true" v-if="secondaryScreenRawVideo")
      source(:src="secondaryStream.url" )
    iframe(:src="secondaryStream.url" frameborder="0" allowfullscreen="false" scrolling="no" v-else)
    
  include _battle.pug
  include _goal.pug
  include _prize.pug
  include _freewrite.pug
  include _hanson.pug