main
  figure.primary-screen(v-if="primaryScreen")
    iframe(:src="primaryStream.url" frameborder="0" allowfullscreen="false" scrolling="no")
  figure.secondary-screen(v-if="secondaryScreen")
    video(controls="false" muted="true" autoplay="true" v-if="secondaryScreenRawVideo")
      source(:src="secondaryStream.url" )
    iframe(:src="secondaryStream.url" frameborder="0" allowfullscreen="false" scrolling="no" v-else)
    
  .battle-screen(v-show="battle.active")
    .battle(v-bind:style="weighBattle")
      .left.side
        .keyword {{battle.option1keyword}}
        .total {{dollarAmount(battle.option1total)}}
        .desc {{battle.option1title}}
      .vs
        span vs
      .right.side
        .keyword {{battle.option2keyword}}
        .total {{dollarAmount(battle.option2total)}}
        .desc {{battle.option2title}}
        
  .thermometer(v-if="donationGoal.active")
    .outside
      .inside(v-bind:style="thermometerHeight")
        //.label $4,311
    .message-box
      .number {{dollarAmount(donationGoal.amount)}}
      .thing {{donationGoal.text}}