main

  figure.primary-screen(v-if="primaryScreen" v-bind:class="{ swapped: swapStreams }")
    video(controls="false" muted="true" autoplay="true" v-if="primaryScreenRawVideo")
      source(:src="primaryStream.url" )
    iframe(:src="primaryStream.url" frameborder="0" allowfullscreen="false" scrolling="no" v-else)
  figure.secondary-screen(v-if="secondaryScreen"  v-bind:class="{ swapped: swapStreams }")
    video(controls="false" muted="true" autoplay="true" v-if="secondaryScreenRawVideo")
      source(:src="secondaryStream.url" )
    iframe(:src="secondaryStream.url" frameborder="0" allowfullscreen="false" scrolling="no" v-else)
    

  
  .relative-worth(v-if="comparativeItem.show")
    .notice(:class="{ 'visible': comparativeItem.showing }")
      figure
        img(v-if="comparativeItem.pic" :src="'img/relative-items/'+comparativeItem.pic")
      .text-wrapper
        .text Your donations are worth 
          strong.worth
            span.count(v-if="comparativeItem.count > 0") {{comparativeItem.count.toLocaleString("en-US")}} 
            span.thing {{comparativeItem.name}}
            | .


  include _battle.pug
  include _goal.pug
  include _prize.pug
  include _freewrite.pug