.prize(v-if="prize.active")
  .prize-box(v-if="!prize.claimed")
    .current Current Prize:

    .amount
      span.donate donate 
      span.number {{dollarAmount(prize.amount)}}
      span.or-more  or more

    .text.available(v-if="prize.text" v-html="prize.text")

    figure.prize-pic(v-if="prize.image && prize.image.src")
      img(:src="prize.image.src")

    .provider(v-if="prize.provider") provided by 
      b {{prize.provider}}
      
  .prize-box(v-else)
    h2.prize-claimed Prize Claimed!
    .text.claimed(v-if="prize.text" v-html="prize.text")
    .claimed-by(v-if="prize.claimedBy")
      span Clamed by 
      span.claim-name {{prize.claimedBy}}
      span  for 
      span.claim-amount {{dollarAmount(prize.amount)}}